<% include ./partials/header %>

    
    <h1>Residential Cleaning</h1>
    <p>Our cleaning system sets us apart. Our customers keep coming back to us, </p>
    <p>because we provide services that work and keep their homes and apartments clean, </p>
    <p>right down to the little details. This extensive cleaning system, which we call </p>
    <p>our Detail-Clean Rotation System, which has been proven to be effective in hundreds of cleans!</p>
    
    <p>Log In With Google To Make Appointment</p>
  </body>
</html>
