<% include ../partials/header %>

<br>
<div class="row">
    <form class="col s12" action="/users/<%=port._id%>?_method=PUT"  method="POST">
        <div class="row">
            <div class="input-field col s12">
                <input name="address" type="text" value="<%=port.address%>">
                <label for="address">Street Address</label>
            </div>
        </div>
        <div class="input-field col s12">
            <select name="city" value="<%= port.city%>">
                <option value="" disabled>Choose your option</option>
                <option value="Austin">Austin</option>
                <option value="Cedar Park">Cedar Park</option>
            </select>
            <label for="risk">City</label>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input name="inv" type="text" value="<%=port.state%>">
                <label for="inv">State</label>
            </div>
        </div>
        <div>
                Select a time:
                <input type="date" name="date" data-date-format="DD MMMM YYYY" >
            </div>
        <input type="submit" value="Save">
    </form>
    
</div>






<% include ../partials/createFooter %>
