<% include ../partials/header %>

  <h3 class="center-align">Welcome, <%=user.name%></h3>
  <% if (user.portfolio.length > 0){ %>
  <p class="center-align">Cleaning Appointments</p>
    <table class="container highlight">
      <thead>
        <tr>
          <th>Date Of Appointment</th>
          <th>Address</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <!-- this is calling scheema user, userschema, and inside is portfolio -->
          <% user.portfolio.forEach(p=>{ %>
            <tr>
              <td><%= p.date %></td>
              <td><%= p.address %></td>
              <td><a href="/users/<%= p._id %>" class="btn-floating btn-large blue "><i class="material-icons">edit</i></a></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
      <% } else { %>
        <div class="divider"></div>
        <div class="section center">
          <h5>Make an appointment here!</h5>
        </div>
      <% } %>
      <h5 class="center"></h5>
      <form action="/users/new" method="GET" class="container center">
        <input type="submit" class="waves-effect waves-light btn" value="Add Apppointment" >
      </form>
  </body>
</html>
