<% include ../partials/header %>
<div class="container center">
    <h3><p>You Appointment was added</p></h3>
    <p>Address: <%= port.address %></p>
    <p>City: <%= port.city %></p>
    <p>State: <%= port.state %></p>
    <p>Date: <%= port.date %></p>
    <a href="/users/index">Back To Profile</a>
</div>

  </body>
</html>
