<!DOCTYPE html>
<html>

<head>
  <title>Tidy Up</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  <p>Please add your address
       
  </p>
  <form id="add-address-form" action="/address/show" method="POST">
    <label>Name:</label>
    <input type="text" name="name">
    <label>Address:</label>
    <input type="text" name="address">
    <label>City:</label>
    <input type="text" name="city">
    <label>State:</label>
    <input type="text" name="state">
    <label>Zip Code:</label>
    <input type="text" name="zipCode">
    <label>Appointment Date:</label>
    <input type="date" name="date">
    <input type="submit" value="Add Address">
  </form>

</body>

</html>



